PyMuPDF==1.21.1
PyMuPDFb==1.23.3
openpyxl==3.1.2
requests==2.31.0
flair==0.12.2
transformers==4.30.0
pandas==2.1.1
asciichartpy==1.5.25
tqdm==4.66.1
pynvml==11.5.0
opencv-python==4.8.1.78
pytesseract==0.3.10
pdf2image==1.16.3
easyocr==1.7.1
paddleocr==2.6.0.1
paddlepaddle-gpu==2.5.2

